<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body style="margin-left:30%;">

    <div ng-app ng-init="name='sachin';age = 50; sessions = [ 'A', 'B', 123, 23, false , true]; jobject = [{ name: 'cyno' }]">
        <h1>
            Hello Cynosure!
        </h1>

        <h3> Expressions </h3>

        <p> {{ 2*3}} </p>
        <p> {{ 2-3}} </p>
        <p> {{ !false}} </p>

        <p> {{ name }}</p>



        <h3> ngModels </h3>

        <input type=text ng-model="age"> <br>

        Just Age <p> {{age}} </p>
        Age multiplied by 2<p> {{age*2}} </p>

        Bind <p ng-bind="age"></p>

        <h3>ngShow</h3>

        <input type=checkbox ng-model="visibility"> <br>
        <div style="background:red" ng-show="visibility">
            is this visible?
        </div>

        <div style="background:blue;color:white" ng-hidden="!visibility">
            this should be hidden
        </div>


        <h3> ngRepeat </h3>

        <p ng-repeat="session in sessions">
            {{session}}
        </p>

        <p>{{jobject.age}}</p>

        <h3>ngValue</h3>

        <input type=checkbox ng-model="enabled"> <br>
        <input ng-value="age" ng-disabled="enabled">
       
        <h3>ngSwitch</h3>

        <div ng-switch="age"> 
            <h4>age </h4>
            <p ng-switch-when="10"> the age is {{age}} </p>
            <p ng-switch-when="50"> the age is {{age}} </p>   
        </div>

        <p ng-if="age==10"> the age is {{age}} , from ng-if</p>

        <h3>ngSelect</h3>
        <select ng-model="selectedNum">
            <option ng-repeat="obj in jobject"> {{obj.name}}</option>
        </select>

        <p> {{selectedNum}} </p>


        <h3>ngSrc</h3>
        <!-- ng-src="https://www.placecage.com/400/{{num}}" -->
        
        <!-- Height : <input ng-model="height">
        <img ng-src="https://www.placecage.com/400/{{height}}"> -->

        <h3>
               ngReadonly
        </h3>

        <input ng-readonly="true" ng-value="20"> 
    </div>

    <!-- <p> {{name}}</p> -->

    
</body>

</html>