<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <!-- <script src="path-to-js"></script> -->
</head>

<body style="margin-left:30%;" ng-app="cynoApp">

    <div  ng-controller="cynoCtrl" ng-init="name='sachin';age = 50; sessions = [ 'A', 'B', 123, 23, false , true]; jobject = [{ name: 'cyno' }]">
        <h1>
            Hello Cynosure!
        </h1>

        <h2> Session - 2 </h2>
        <h3> App & Controllers </h3>

        <h2> {{company}}</h2>

        <input ng-model="company">

        <p ng-repeat="item in sampleArr" >
            <span ng-click="getClickeditem(item)";>{{item}}</span>
        </p>

        <div >
            <h4>{{sampleObject.name}}</h4>
            <h4>{{sampleObject.location}}</h4>
            <h4>{{sampleObject.country}}</h4>
            <!-- <h4>{{sampleObject.currency}}</h4> -->
            <h4>{{sampleObject.cost | currency }}</h4>
        </div>

        <div>
            <h2>Event Handler</h2>
            <input ng-model="userinput">
            <button ng-click="click();">Click Me</button>
            <button ng-click="clickWithData(userinput);" ng-mouseover="mouseOnSendData();">Send Data</button>
        </div>

        <div ng-controller="cyno2Ctrl">
                <h2> What happens if we define a new controller and overide the same things?</h2>
        </div>
    </div>

    <script>
        
        //Define a new Module
        //angular.module("myMod", []);


        var app = angular.module("cynoApp", []);


        app.controller("cynoCtrl", [ "$scope",  function( $scope ){

            $scope.company = "cynosure-inc";

            $scope.make = "vento";

            $scope.sampleArr = ["1", 2, 3, 4];

            $scope.sampleObject = {
                "name" : "Cynosure",
                "location": "HSR",
                "country" : "India",
                // "currency" : 'INR',
                "cost": 10
            }

            $scope.click = function(){

                //debugger; attaches the debugger if on inspect mode [ F12 ]
                $scope.userinput = 'reset';
                console.log('clicked', $scope.userinput)
            }

            $scope.clickWithData = function(data){
                console.log('clicked With Data method', data);
            }

            $scope.getClickeditem = function(data){
                console.log('clicked to get Item Data', data)
            }

            $scope.mouseOnSendData = function(){
                console.log('on mouse ');
                //alert('get going')
            }

            //$scope.make = cynoservice.getHello("Sachin");
        }])


        // app.service('cynoservice', function(){
        //     return {

        //         getHello : function(x){
        //             return 'hello ' + x;
        //         }
        //     }
        // })
    </script>
</body>

</html>