<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

</head>

<body style="margin-left:30%;" ng-app="cynoApp">

    <div  ng-controller="cynoCtrl" ng-init="name='sachin';age = 50; sessions = [ 'A', 'B', 123, 23, false , true]; jobject = [{ name: 'cyno' }]">
        <h1>
            Hello Cynosure!
        </h1>

        <h2> Session - 2 </h2>
        <h3> App & Services </h3>

        Output from Service 
        {{getServiceFunctionResult}}

        <h3> {{modifydata}} </h3>

        <h3> Modify Input</h3>
        <input ng-model="formData.name" placeholder="Enter your name">
        <button ng-click="Submit();" > Submit to Service </button>

        <div> Result From Service :
            <p>
                {{serviceResult}}
            </p> 
        </div>

        <h3> Angular Internal Service </h3>
        <p> {{myIP}} </p>
        <button value="get my IP" ng-click="retrieveIP();">get my IP</button>

        <cyno-sure></cyno-sure>
    </div>


    <script>
        
        //Define a new Module
        var app = angular.module("cynoApp", []);


        app.service("cynoService",  function(  ){

            return {

                amIAvailable : function(){
                    return "yes, your are available!!";
                },

                canYouChangeData : function(x){

                    //$http.get("");
                    var d = new Date();
                    return x + " - " + d.toDateString(); 
                },


            }
        })


        app.directive("cynoSure", function(){
            return {
                template : "<h2> Cynosure HSR {{$ctrl.something}} </h2>"
            }
        })

        app.controller("sureCtrl", function($scope){
            $scope.AmIInitialised ="Am I seen"
        })

        app.controller("cynoCtrl", [ "$scope", "cynoService", "$http",  function( $scope, cynoService, $http ){
            $scope.company = "cynosure-inc";

            //$scope.make = "vento";

            $scope.formData = {
                name : '',
                age : '',
                gender : ''
            }

            $scope.getServiceFunctionResult = cynoService.amIAvailable();

            $scope.modifydata = cynoService.canYouChangeData("Cynosure")

            $scope.userInput ;
            $scope.serviceResult;
            $scope.myIP = "Uknown";

            $scope.sampleArr = ["1", 2, 3, 4];

            $scope.sampleObject = {
                "name" : "Cynosure",
                "location": "HSR",
                "country" : "India",
                // "currency" : 'INR',
                "cost": 10
            }

            $scope.retrieveIP = function(){
                console.log('retrieveIP called')
                
                $http.get("https://api.ipify.org?format=json").then(res => {
                        console.log('res', res)
                        
                        if(res.status == 200 ){
                            $scope.myIP = res.data['ip'];
                        }
                }, err =>{
                        $scope.myIP = err;
                    }
                )
            }
            $scope.Submit = function(){
                $scope.serviceResult = cynoService.canYouChangeData( $scope.formData.name)
            }

            $scope.click = function(){

                //debugger; attaches the debugger if on inspect mode [ F12 ]
                $scope.userinput = 'reset';
                console.log('clicked', $scope.userinput)
            }

            $scope.clickWithData = function(data){
                console.log('clicked With Data method', data);
            }

            $scope.getClickeditem = function(data){
                console.log('clicked to get Item Data', data)
            }

            $scope.mouseOnSendData = function(){
                console.log('on mouse ');
                //alert('get going')
            }

            //$scope.make = cynoservice.getHello("Sachin");
        }])


        // app.service('cynoservice', function(){
        //     return {

        //         getHello : function(x){
        //             return 'hello ' + x;
        //         }
        //     }
        // })
    </script>
</body>

</html>